<script type="text/javascript">
  var context = "{{servlet-context}}";
  $(document).ready(function() {
    // Todo: Test this in various configurations.
    // On Chrome on a Windows PC @ 1024x768, the tooltips
    // were interfering with mouse clicking (oy!)
    //$('[title!=""]').qtip({style:"qtip-light",position:{my: 'left bottom',at: 'right top',target:"mouse"}});
    if ($.tablesorter) {
      $("table.sorted").tablesorter({
          theme: "bootstrap",
          headerTemplate: "{content} {icon}",
          widthFixed: true,
          widgets: ["uitheme","pager"],
          widgetOptions: {
              pager_output: '/{totalPages}',
              pager_updateArrows: true,
              pager_startPage: 0,
              pager_size: 10,
              pager_savePages: true,
              pager_fixedHeight: false,
              pager_removeRows: false, // removing rows in larger tables speeds up the sort
              pager_ajaxUrl: null,
              // css class names that are added
              pager_css: {
                container   : 'tablesorter-pager',    // class added to make included pager.css file work
                errorRow    : 'tablesorter-errorRow', // error information row (don't include period at beginning); styled in theme file
                disabled    : 'disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
              }
          }
      });
    }
  });
</script>
